* text=auto

*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.wixproj text eol=crlf
*.wxs text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.msi binary
